
body {
	
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
}

h2 {
	text-align: center;
}