
body {
	background: #CCCCCC;
}

#banner {
	width: 100%;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
}
